@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <style>
        body {
            background-image:url('/wwwroot/IMG/Eyeopenclose.gif');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            height: 100vh;
            margin: auto;
        }

        
    </style>


</head>
<div class="text-xl-center">
    <h2>White Eye  Online Services.</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm text-dark">
            This web page serve the online free service to your online works..
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm text-black">
            Select the Service.
            </div>


            <div class="col-sm text-black">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Open this select menu</option>
                <option value="1">File encript and decript</option>
                <option value="2">Text encript and decript</option>
                <option value="3">About Us</option>
            </select>
        </div>

    </div>
</div>
